<tr class="<%= line_item == @current_item ? 'line-item-highlight' : '' %>">
  <td class="quantity">
    <%= line_item.quantity %>
  </td>
  <td><%= line_item.product.title %></td>
  <td class="price">
    <%= number_to_currency(line_item.total_price) %>
  </td>
  <% unless @hide_line_item_actions %>
    <td class="line-item-actions">
      <%= button_to '+'.html_safe, line_item, method: :patch, remote: true, params: { locale: I18n.locale, line_item: { quantity: line_item.quantity + 1 }} %>
      <%= button_to '-'.html_safe, line_item, method: :patch, remote: true, params: { locale: I18n.locale, line_item: { quantity: line_item.quantity - 1 }} %>
      <%= button_to '&times'.html_safe, line_item, method: :delete, remote: true, params: { locale: I18n.locale },  data: { confirm: 'Are you sure?' } %>
    </td>
  <% end %>
</tr>
